.jumbo-left img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.jumbo-right img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.my-card{
    height: calc(100% / 5);
    filter: brightness(.4)
}

.previous, .next{
    cursor: pointer;
}

.carousel-element{
    display: none;
    overflow: hidden;
    height: 100%;
}

.carousel-element.active{
    display:block;
}

.previous, .next{
    z-index: 1;
}

.my-card.active{
    filter:brightness(1);
    border: 3px rgb(197, 197, 197) solid;
}